*.o
*m4
*.lo
Makefile
Makefile.in
*.a
*.la
.deps
.libs
autom4te.cache/
client/scripts/boinc-client
client/win/boinc_path_config.py
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
packages/solaris/CSW/boincclient/pkginfo
packages/solaris/CSW/boincclient/prototype
packages/solaris/CSW/boincdevel/pkginfo
packages/solaris/CSW/boincdevel/prototype
packages/solaris/CSW/boinclibs/pkginfo
packages/solaris/CSW/boinclibs/prototype
packages/solaris/CSW/boincmanager/pkginfo
packages/solaris/CSW/boincmanager/prototype
py/Boinc/version.py
py/setup.py
boinc_path_config.py
stamp-h1
svn_version.h
test/version.inc
